---
layout: default
title: Kris Shaffer
cover: 'assets/images/cover-laserNegatives.jpg'
class: 'home-template'
navigation: True
current: home
---

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main" style="max-width: 980px; min-width: 320px; margin: auto; text-align: center;">

<img src="/assets/images/krisHeadBanner.jpg" style="float: right; max-width: 480px;" alt="Kris Shaffer headshot in front of Rocky Mountains." />Kris Shaffer, Ph.D. (Yale University, 2011), is an Instructional Technology Specialist and Adjunct Instructor of Computer Science at the [University of Mary Washington](https://academics.umw.edu/dtlt/). He is also a Contributing Editor for [*Hybrid Pedagogy*](http://www.hybridpedagogy.com) and the lead author and editor of [*Open Music Theory*](http://openmusictheory.com) ― an open-source, interactive textbook for undergraduate music theory courses.

Kris is a computational musicologist, digital media specialist, author, and coder. Recently, he has been focusing on developing and extending web platforms for education, particularly in the context of [critical digital pedagogy](http://www.digitalpedagogylab.com/hybridped/critical-digital-pedagogy-definition/), [open educational resources](http://www.digitalpedagogylab.com/hybridped/open-source-scholarship/) (OER), and UMW's [Domain of One's Own](http://umwdomains.com) initiative.

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/datascience/">data science</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/datascience/" title="data science" class="post-teaser"><img src="{{ site.baseurl }}assets/images/bletchley-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Using machine learning and statistics to explore musical and textual data.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/musicology/">musicology</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/musicology/" title="musicology" class="post-teaser"><img src="{{ site.baseurl }}assets/images/imogen-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Music theory, history, and cognition.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/coding/">coding</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/coding/" title="coding" class="post-teaser"><img src="{{ site.baseurl }}assets/images/oldtype-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Software projects, hacks, and tricks.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/pedagogy/">pedagogy</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/pedagogy/" title="pedagogy" class="post-teaser"><img src="{{ site.baseurl }}assets/images/lemmeout-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Pedagogy, teaching, education.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/personal/">personal news</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/personal/" title="personal" class="post-teaser"><img src="{{ site.baseurl }}assets/images/hurley-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Life updates.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/presentations/">presentations</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/presentations/" title="presentations" class="post-teaser"><img src="{{ site.baseurl }}assets/images/lectureHall-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Keynotes, research presentations, workshops, unconferences.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/publicscholarship/">public scholar</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/publicscholarship/" title="public scholarship" class="post-teaser"><img src="{{ site.baseurl }}assets/images/socialBookmark-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Thoughts on open data, open educational resources, and public scholarship.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/highered/">higher ed</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/highered/" title="higher ed" class="post-teaser"><img src="{{ site.baseurl }}assets/images/humanity-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          The state, future, and philosophy of higher educational institutions.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/christianity/">christianity</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/christianity/" title="christianity" class="post-teaser"><img src="{{ site.baseurl }}assets/images/bookLocked-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Faith, life, and doctrine.</a></p>
      </section>
  </article>

  <article class="post" style="width: 300px; display: inline-block; vertical-align: top; margin: 0px 10px 0px 10px;">
      <header class="post-header">
          <h2 class="post-title" style="text-align: center"><a href="{{ site.url }}/socialmedia/">social media</a></h2>
      </header>
      <section class="post-excerpt">
          <p><a href="{{ site.url }}/socialmedia/" title="social media" class="post-teaser"><img src="{{ site.baseurl }}assets/images/rainbow-teaser.jpg" alt="teaser" itemprop="image" style="max-width: 300px; margin: 0 0 10px 0px;"></a><br/>
          Critical and technical perspectives on social media.</a></p>
      </section>
  </article>

</main>
