---
layout: default
disqus: false
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.image.feature %}" style="background-image: url({{ site.url }}assets/images/{{ page.image.feature }}) {% else %}" style="background-image: url({{ site.url }}assets/images/type.jpg){% endif %}">
    <nav class="main-nav {% if page.image.feature %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.url }}"><img src="{{ site.url }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post tag-test tag-content">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
            <!-- <a href='{{ site.url }}{{ page.about }}'>{{ site.author }}</a> -->
            <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                <!-- [[tags prefix=" on "]] -->
                {% if page.tags.size > 0 %} 
                on 
                {% for tag in page.tags %}
                    {% if forloop.index == page.tags.size %}
                       <a href='{{ site.url }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                    {% else %}
                       <a href='{{ site.url }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                    {% endif %}   
                {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">

            <script async defer src="https://hypothes.is/embed.js"></script>
            
            {{ content }}

        </section>

        <footer class="post-footer">

            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% if site.image %}
            <figure class="author-image">
                <a class="img" href="{{ site.url }}bio" style="background-image: url({{ site.url }}{{ site.image }})"><span class="hidden">{{ page.author }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ site.url }}author/{{ site.nickname }}">{{ site.author }}</a></h4>
                
                {% if site.bio %}
                    <p> {{ site.bio }}</p>
                {% else %}
                    <p>Read <a href="{{ site.url }}author/{{ site.nickname }}">more posts</a> by this author.</p>
                {% endif %}
                <div class="author-meta">
                    {% if site.location %}<span class="author-location icon-location"> {{ site.location }}</span>{% endif %} 
                    {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}"> {{ site.short_url }}</a></span>{% endif %} 
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
            
            
            <div>
				<hr/>
				
				<h2>Webmentions</h2>
				<div class="webmentions">
					<script id="webmention-hosted">
					  (function () {
					    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
					    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
					    url = url && url[0] ? url[0].href : false;
					    sn.type = "text/javascript"; sn.async = true;
					    sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
					    s.parentNode.insertBefore(sn, s);
					  }());
					</script>
				</div>
				<p style="font-size: 0.85em; font-style: italic; line-height: 1.3em">In order not to send your personal browsing data to a third-party service, this site no longer supports Disqus comments. You may comment to me by sending an email to <a href="mailto:kris.shaffer@tutanota.de">kris.shaffer@tutanota.de</a> or tweeting to <a href="https://twitter.com/krisshaffer">@krisshaffer.</a> If you would like your comments to appear on this site, post them to a public platform that supports <a href="http://indiewebcamp.com/Webmention">webmentions</a>, such as Twitter, Facebook, <a href="https://withknown.com/">Known</a>, or <a href="https://wordpress.org/">WordPress</a> (via <a href="https://wordpress.org/plugins/webmention/">this plugin</a>). You may also use the buttons on the upper right corner of the browser window to highlight or annotate this page using <a href="https://hypothes.is">hypothes.is</a>.</p>
			</div>
			
        
			
            <!-- Add Disqus Comments -->
			<!--
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
            -->
				
        </footer>

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.image.feature %}" style="background-image: url({{ site.url }}assets/images/{{ page.next.image.feature }}){% else %}no-cover{% endif %}" href="{{ site.url }}{{ page.next.url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.image.feature %}" style="background-image: url({{ site.url }}assets/images/{{ page.previous.image.feature }}){% else %}no-cover{% endif %}" href="{{ site.url }}{{ page.previous.url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>

<!-- /post -->
